<div class="alert alert-danger">
    <strong>Mensaje</strong>
    Alerta
    <a href="#" class="alert-link">Clic aquí</a>
</div>

<div class="alert alert-secondary">
    <strong>Mensaje</strong>
    Alerta2
    <a href="#" class="alert-link">Clic aquí</a>
</div>

<div class="alert alert-success">
    <strong>Mensaje</strong>
    Alerta3
    <a href="#" class="alert-link">Clic aquí</a>
</div>
<div class="alert alert-danger">
    <h3>Titulo</h3>
    <strong>Mensaje</strong>
    Alerta
    <a href="#" class="alert-link">Clic aquí</a>
</div>

<hr>
<p>Cerrar Alerta</p>
<div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">
        <span>&times;</span>
    </button>
    <strong>Mensaje</strong>
    Alerta
    <a href="#" class="alert-link">Clic aquí</a>
</div>

<div class="alert alert-primary alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
</div>

<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
    Chequeo
  </label>
</div>

<br>

<p>Barras de progreso</p>

<div class="progress">
    <div class="progress-bar bg-primary" role="progressbar" style="width: 25%;"
        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Progreso</div>
</div>

<br>

<div class="progress">
    <div class="progress-bar bg-success" role="progressbar" style="width: 50%;"
        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Progreso</div>
</div>

<br>

<div class="progress">
    <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" 
    role="progressbar" style="width: 50%;"
        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Progreso</div>
</div>


<br>


<br>



