<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand tituloLogo" href="#">
        <img [src]="logoSIG" alt="logo" width="40" height="40">  
        SIG </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-current="page" href="#">
                Contenido
            </a>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item" routerLink="/calculadora">Calculadora</a>
              <a href="#" class="dropdown-item" routerLink="/temas-sig">Tematicas SIG</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="/calculadora">
                Calculadora</a>
          </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" routerLink="/temas-sig">Tematicas SIG</a>
            </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="/estilo-alileacion">Estilos Boots</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="/estilo-posiciones-colores">Posiciones Color</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="/espaciados-margenes">Espaciado</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="/listas-contador-btn">Listados Contadores</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="/alertas-barras-progreso">Alertas y Progress bar</a>
          </li>
        </ul>
      </div>
    </div>
</nav>