<h2 class="bg-success mt-5">hello world</h2>
<h2 class="bg-success mt-4">hello world</h2>
<h2 class="bg-success mt-3">hello world</h2>
<h2 class="bg-success mt-2">hello world</h2>
<h2 class="bg-success mt-2">hello world</h2>

<hr>

<h2 class="bg-success mb-5">hello world</h2>
<h2 class="bg-success mb-4">hello world</h2>
<h2 class="bg-success mb-3">hello world</h2>
<h2 class="bg-success mb-2">hello world</h2>
<h2 class="bg-success mb-1">hello world</h2>

<hr>

<p>hello <span class="ml-5">world</span>hello</p>
<p>hello <span class="mr-5">world</span>hello</p>

<hr>

<p>hello <span class="mx-5">world</span>hello</p>

<hr>

<p>hello world</p>
<p class="my-5">hello world</p>
<p>hello world</p>

<hr>
<h2 class="bg-success pt-5">hello world</h2>
<h2 class="bg-success pt-4">hello world</h2>
<h2 class="bg-success pt-3">hello world</h2>
<h2 class="bg-success pt-2">hello world</h2>
<h2 class="bg-success pt-1">hello world</h2>

<hr>
<h2 class="bg-success pb-5">hello world</h2>
<h2 class="bg-success pb-4">hello world</h2>
<h2 class="bg-success pb-3">hello world</h2>
<h2 class="bg-success pb-2">hello world</h2>
<h2 class="bg-success pb-1">hello world</h2>

<hr>

<p class="bg-success p-5">hello world hello</p>
<p class="bg-success m-5">hello world hello</p>

<hr>

<div class="bg-success p-3 w-25">ancho 25%</div>
<div class="bg-success p-3 w-50">ancho 50%</div>
<div class="bg-success p-3 w-75">ancho 75%</div>
<div class="bg-success p-3 w-100">ancho 100%</div>

<hr>

<div class="bg-success" style="border: 1px solid #000; height: 300px">
    <div class="bg-primary d-inline-block h-25">Elemento 1</div>
    <div class="bg-primary d-inline-block h-50">Elemento 2</div>
    <div class="bg-primary d-inline-block h-75">Elemento 3</div>
    <div class="bg-primary d-inline-block h-100">Elemento 4</div>
</div>

<hr>

<!-- Grid row -->
<div class="row">

    <!-- Grid column -->
    <div class="column mb-4 px-2">
  
      <!--Card Primary-->
      <div class="card indigo text-center z-depth-2 bg-transparent">
        <div class="card-body">
          <p class="white-text mb-0">Variar el tamaño de la ventana para ver efecto responsivo.</p>
        </div>
      </div>
      <!--/.Card Primary-->
  
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="column mb-4 px-2">
  
      <!--Card Primary-->
      <div class="card danger-color text-center z-depth-2">
        <div class="card-body">
          <p class="white-text mb-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
            atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
            sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
        </div>
      </div>
      <!--/.Card Primary-->
  
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="column mb-4 px-2">
  
      <!--Card Primary-->
      <div class="card info-color text-center z-depth-2">
        <div class="card-body">
          <p class="white-text mb-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
            atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
            sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
        </div>
      </div>
      <!--/.Card Primary-->
  
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="column mb-4 px-2">
  
      <!--Card Primary-->
      <div class="card mdb-color text-center z-depth-2">
        <div class="card-body">
          <p class="white-text mb-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
            atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
            sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
        </div>
      </div>
      <!--/.Card Primary-->
  
    </div>
    <!-- Grid column -->
  
  </div>
  <!-- Grid row -->