<div class="float-left">hello</div>
<div class="float-right">hello</div>
<div class="float-none">hello</div>

<br>
<br>

<div class="float-sm-end">world</div>
<div class="float-md-end">world</div>
<div class="float-lg-end">world</div>
<div class="float-xl-end">world</div>

<br><br>

<div class="bg-success clearfix">
    <button class="float-left">LEFT</button>
    <button class="float-right">RIGHT</button>
</div>

<br><br>

<button class="btn btn-primary">Prueba</button>
<button class="btn btn-secondary">Prueba</button>
<button class="btn btn-success">Prueba</button>
<button class="btn btn-info">Prueba</button>
<button class="btn btn-warning">Prueba</button>
<button class="btn btn-danger">Prueba</button>
<button class="btn btn-light">Prueba</button>
<button class="btn btn-dark">Prueba</button>
<button class="btn btn-link">Prueba</button>

<br><br>

<a class="btn btn-primary" href="#">ENLACE a</a>
<button type="submit" class="btn btn-dark">Enviar submit</button>
<input type="button" class="btn btn-primary" value="Aceptar input">
<input type="submit" class="btn btn-primary" value="SEND">
<input type="reset" class="btn btn-primary" value="REFRESH">

<br><br>

<button class="btn btn-outline-primary">Prueba</button>
<button class="btn btn-outline-secondary">Prueba</button>
<button class="btn btn-outline-success">Prueba</button>
<button class="btn btn-outline-info">Prueba</button>
<button class="btn btn-outline-warning">Prueba</button>
<button class="btn btn-outline-danger">Prueba</button>
<button class="btn btn-outline-light">Prueba</button>
<button class="btn btn-outline-dark">Prueba</button>
<button class="btn btn-outline-link">Prueba</button>

<br><br>

<button class="btn btn-primary btn-lg">BOTON lg</button>
<button class="btn btn-primary">BOTON</button>
<button class="btn btn-primary btn-sm">BOTON sm</button>

<br><br>

<button class="btn btn-primary btn-block">BOTON block</button>

<br><br>
<p>npm i bootstrap-icons</p>
<p>"link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css""</p>
<button class="btn btn-primary btn-lg"><i class="bi bi-folder-symlink"></i> BOTON lg</button>
<br><br>
<i class="bi bi-folder-symlink" style="font-size: 2rem; color: cornflowerblue;"></i>

<br><br>
<p>activo y desactivado</p>
<button class="btn btn-primary active">Prueba</button>
<button class="btn btn-primary disabled">Prueba</button>
<button class="btn btn-primary" data-toggle="button">Prueba</button>

<br><br>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Elegir</button>
    <div class="dropdown-menu">
            <a href="#" class="dropdown-item">uno</a>
            <a href="#" class="dropdown-item">dos</a>
            <a href="#" class="dropdown-item">tres</a>
    </div>
</div>

<br><br>
<div class="btn-group">
    <button class="btn btn-primary">Mi Boton</button>
    <button class="btn btn-secondary dropdown-toggle dropdown-toggle-split" 
    data-toggle="dropdown">Toggle Dropdown</button>
    <div class="dropdown-menu">
            <a href="#" class="dropdown-item">uno</a>
            <a href="#" class="dropdown-item">dos</a>
            <a href="#" class="dropdown-item">tres</a>
    </div>
</div>

<br><br>

<p>Agrupados</p>
<div class="btn-group">
    <button class="btn btn-danger">Izquierda</button>
    <button class="btn btn-danger">Centro</button>
    <button class="btn btn-danger">Derecha</button>
</div>

<br><br>

<div class="btn bt-toolbar" role="toolbar">
    <div class="btn-group mr-2">
        <button class="btn btn-primary">1</button>
        <button class="btn btn-primary">2</button>
        <button class="btn btn-primary">3</button>
        <button class="btn btn-primary">4</button>
    </div>
    <div class="btn-group mr-2">
        <button class="btn btn-primary">5</button>
        <button class="btn btn-primary">6</button>
        <button class="btn btn-primary">7</button>
    </div>
    <button class="btn btn-primary">8</button>
</div>

<br><br>
<p>Agrupación vertical</p>
<div class="btn-group-vertical">
    <button class="btn btn-danger">Arriba</button>
    <button class="btn btn-danger">Centro</button>
    <button class="btn btn-danger">Abajo</button>
</div>

<br><br>

<h3 class="fixed-top text-danger">-NavBar-</h3>
<p class="text-primary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, deserunt maiores ab sint dignissimos, sed, reiciendis omnis voluptatem quod aperiam ipsam? Corporis dolores quisquam ullam deserunt, aperiam velit provident sunt!</p>
<p class="text-success">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, deserunt maiores ab sint dignissimos, sed, reiciendis omnis voluptatem quod aperiam ipsam? Corporis dolores quisquam ullam deserunt, aperiam velit provident sunt!</p>
<p class="text-info">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, deserunt maiores ab sint dignissimos, sed, reiciendis omnis voluptatem quod aperiam ipsam? Corporis dolores quisquam ullam deserunt, aperiam velit provident sunt!</p>
<p class="text-warning">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, deserunt maiores ab sint dignissimos, sed, reiciendis omnis voluptatem quod aperiam ipsam? Corporis dolores quisquam ullam deserunt, aperiam velit provident sunt!</p>
<p class="text-dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, deserunt maiores ab sint dignissimos, sed, reiciendis omnis voluptatem quod aperiam ipsam? Corporis dolores quisquam ullam deserunt, aperiam velit provident sunt!</p>
<p class="bg-dark text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, deserunt maiores ab sint dignissimos, sed, reiciendis omnis voluptatem quod aperiam ipsam? Corporis dolores quisquam ullam deserunt, aperiam velit provident sunt!</p>
<p class="bg-warning">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, deserunt maiores ab sint dignissimos, sed, reiciendis omnis voluptatem quod aperiam ipsam? Corporis dolores quisquam ullam deserunt, aperiam velit provident sunt!</p>
<p class="invisible">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, deserunt maiores ab sint dignissimos, sed, reiciendis omnis voluptatem quod aperiam ipsam? Corporis dolores quisquam ullam deserunt, aperiam velit provident sunt!</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, deserunt maiores ab sint dignissimos, sed, reiciendis omnis voluptatem quod aperiam ipsam? Corporis dolores quisquam ullam deserunt, aperiam velit provident sunt!</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, deserunt maiores ab sint dignissimos, sed, reiciendis omnis voluptatem quod aperiam ipsam? Corporis dolores quisquam ullam deserunt, aperiam velit provident sunt!</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, deserunt maiores ab sint dignissimos, sed, reiciendis omnis voluptatem quod aperiam ipsam? Corporis dolores quisquam ullam deserunt, aperiam velit provident sunt!</p>

<h3 class="fixed-bottom">PIE</h3>




