<h1>Hola bootstrap</h1>
<h2>Hola bootstrap</h2>
<h3>Hola bootstrap</h3>
<h4>Hola bootstrap</h4>
<h5>Hola bootstrap</h5>
<h6 class="h1">Hola bootstrap H6</h6>
<hr>
<h1 class="display-1">Hola bootstrap display-1</h1>
<h2>Hola bootstrap <span class="text-muted">text-muted</span></h2>
<hr>
<p>Raster:
    Un tipo de datos raster es, en esencia, cualquier tipo de imagen digital representada en mallas. El modelo de SIG raster o de retícula se centra en las propiedades del espacio más que en la precisión de la localización. Divide el espacio en celdas regulares donde cada una de ellas representa un único valor. Se trata de un modelo de datos muy adecuado para la representación de variables continuas en el espacio.
</p>
<p class="lead">Raster:
    Un tipo de datos raster es, en esencia, cualquier tipo de imagen digital representada en mallas. El modelo de SIG raster o de retícula se centra en las propiedades del espacio más que en la precisión de la localización. Divide el espacio en celdas regulares donde cada una de ellas representa un único valor. Se trata de un modelo de datos muy adecuado para la representación de variables continuas en el espacio.
</p>

<p class="font-weight-bold">Negrita</p>
<p class="font-italic">Italica</p>
<p class="text-uppercase">uppercase</p>
<p class="text-lowercase">LOWERCASE</p>
<p class="text-capitalize">capitalize text</p>
<hr>
<p class="text-justify">P JUSTIFY - Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex libero minima earum repudiandae aperiam, dicta suscipit ratione amet molestiae quibusdam corporis recusandae cupiditate distinctio natus nobis impedit! Dignissimos, laborum sapiente.</p>
<p class="text-left">Hola bootstrap left</p>
<p class="text-center">Hola bootstrap center</p>
<p class="text-right">Hola bootstrap right</p>

<hr>

<p class="text-sm-right">Hola size resposive</p>
<p class="text-md-right">Hola size resposive</p>
<p class="text-lg-right">Hola size resposive</p>
<p class="text-xl-right">Hola size resposive</p>

<br><br>

<span class="align-baseline">hello align</span>
<span class="align-top">hello align</span>
<span class="align-bottom">hello align</span>
<span class="align-middle">hello align</span>
<span class="align-text-top">hello align</span>
<span class="align-text-bottom">hello align</span>

<br><br>

<h1 class="bg-success d-inline">Hello</h1>
<h2 class="bg-success d-inline">World d-inline</h2>

<br><br>
<span class="bg-success">inline</span>
<span class="bg-success d-block">block</span>
<br><br>
<div class="bg-success">
    <h1>Hello World</h1>
    <span>hello</span>
</div>

<div class="bg-success">
        <h1>Hello World</h1>
        <span>hello</span>
</div>
<br><br>

<div class="bg-success d-inline-block">
    <h1>Hello World</h1>
    <span>hello</span>
</div>

<div class="bg-success d-inline-block">
        <h1>Hello World</h1>
        <span>hello</span>
</div>