<div class="container">

    <ul class="list-group">
        <li class="list-group-item">Lorem</li>
        <li class="list-group-item">Lorem</li>
        <li class="list-group-item">Lorem</li>
        <li class="list-group-item">Lorem</li>
        <li class="list-group-item">Lorem</li>

    </ul>

    <hr>

    <ul class="list-group">
        <a href="#" class="list-group-item list-group-item-danger">Enlace 1</a>
        <a href="#" class="list-group-item">Enlace 1</a>
        <a href="#" class="list-group-item list-group-item-primary">Enlace 1</a>
        <a href="#" class="list-group-item">Enlace 1</a>
    </ul>

    <hr>

    <ul class="list-group">
        <a href="#" class="list-group-item">Lorem <span class="badge">12</span></a>
        <a href="#" class="list-group-item">Lorem <span class="badge badge-primary">12</span></a>
        <a href="#" class="list-group-item">Lorem <span class="badge badge-primary rounded-pill">12</span></a>
        <a href="#" class="list-group-item d-flex justify-content-between align-items-center">Lorem <span class="badge badge-primary">12</span></a>

    </ul>

    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-2">Titulo</h5>
                <small>3 dias antes</small>
            </div>
            <p class="mb-2"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo a, laboriosam debitis eum provident eligendi. Ratione repudiandae consequuntur laborum, ipsum eius inventore in. Facilis impedit ipsa iste vitae blanditiis recusandae!</p>
        </a>
    </div>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">Lorem</li>
    </ol>
    <ol class="breadcrumb">
        <a href="#" class="breadcrumb-item">Lorem</a>
        <a href="#" class="breadcrumb-item active">Lorem</a>
    </ol>

</div>
